@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./modules/PassGen/passgen.scss";

body {
  font-family: "Roboto", sans-serif;
  background-image: radial-gradient(circle, #00d4ff 0%, #090979 100%);
  color: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 8px;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 96vw;
  margin: 0 auto;
}
